# Quiz on Sets

Convert the list `['rap','house','electronic music', 'rap']` to a set:

In [1]:
# Write your code below and press Shift+Enter to execute
set(['rap', 'house', 'electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

<hr>

Consider the list `A = [1, 2, 2, 1]` and set `B = set([1, 2, 2, 1])`, does `sum(A) = sum(B)`

In [4]:
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
sum(A) == sum(B)        #False, because elements in variable B are only 1 and 2

False

<hr>

Create a new set `album_set3` that is the union of `album_set1` and `album_set2`:

In [8]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

<hr>

Find out if `album_set1` is a subset of `album_set3`:

In [9]:
# Write your code below and press Shift+Enter to execute
album_set1.issubset(album_set3)            #True

True